p {
    color: red;
  }


  h1 {
    color: rgba(125,125,125,0.1)
  }

  /*
  the boss said the background color should always be white
  */

  body {

   background-color: white;
  }

  #firstOne {
    color:darkmagenta

  }

  #secondOne {
       color: orange !important;
  }

  .bigbigtext {

   font-size: 60px;
  }

  * {
     color: blueviolet
  }